@{
    ViewBag.Title = "Confirmar E-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado por confirmar seu e-mail. Por favor @Html.ActionLink("Clique aqui para continuar", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>