@{
    ViewBag.Title = "Verificar E-mail";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Verifique seu e-mail e confirme seu endereço.
</p>
<p class="text-danger">
    DEMO: Caso o e-mail não chegue clique neste link: <a href="@ViewBag.Link">link</a>
</p>
