@{
    ViewBag.Title = "Confirmação de esquecimento de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, verifique seu e-mail para trocar sua senha.
    </p>
    <p class="text-danger">
        <h4>@ViewBag.Status <a href="@ViewBag.LinkAcesso">Link de acesso</a></h4>
    </p>
</div>

	
