@{
    ViewBag.Title = "Bem vindos";
}

<div class="jumbotron">
    <h1>ASP.NET Identity</h1>
    <p class="lead">O ASP.NET Identity é um componente de Identidade da Microsoft</p>
    <p><a href="http://eduardopires.net.br/category/asp-net-identity/" class="btn btn-primary btn-lg">Veja Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Desacoplado</h2>
        <p>
            Neste modelo encontrarás uma abordagem para desacoplar O Identity de sua camada de apresentação (ASP.NET MVC).<br />
            O desacoplamento é bem útil para remover a responsabilidade da camada de apresentação e oferecer um código mais limpo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reutilizavel</h2>
        <p>
            Isolando o Identity do MVC é possível reaproveitar a mesma estrutura em N projetos MVC, WebAPI e SignalR utilizando uma estrutura única e modular.
            É recomendável sempre que possível utilizar um único mecanismo de autenticação para as aplicações, pois facilita a manutenção e gerenciamento.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Abstraido</h2>
        <p>
            Para obter total desacoplamento foi necessário injetar as dependências através de DI, foi utilizado o SimpleInjector. Apesar de obter uma boa abstração o Identity possui um forte acoplamento ao MVC e impõe o uso de algumas referências na camada de apresentação, porém sem causar problemas.
        </p>
    </div>
</div>