@model HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Usuário Bloqueado.</h1>
    <h2 class="text-danger">Sua conta foi temporariamente bloqueada por exceder o número de tentativas inválidas, tente novamente mais tarde.</h2>
</hgroup>